@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

:root {
    --header-font: 'Montserrat Alternates', sans-serif;
    --main-font: 'Caveat', cursive;
}

* {
    margin: auto;
    font-family: var(--main-font);
}

body {
    max-width: 980px;
    border: 1px solid grey;
    border-radius: 5px;
}

header{ 
    display: grid;
    grid-template: 1fr 1fr / 1fr 35px;
    background-color: white;
    position: fixed;
    left: 1px;
    right: 1px;
}

header .logo {
    grid-row: 1/3;
    display: flex;
    flex-direction: row;
}

header .logo img {
    height: 65px;
}

/* header .logo div {

} */

header .logo div h1 {
    font-family: var(--header-font);
    font-size: 30px;
    text-decoration: underline;
    cursor: default;
    padding: 0px 0px 3px 13px;
}

header .logo div h1:hover {   
    color: rgb(61, 61, 61);
    font-size: 32px;
    padding: 0px;
    padding-bottom: 1px;
}

header .logo div p {
    font-size: 12px;
    text-transform: uppercase;
    cursor: default;
    text-align: center;
}

header a {
    grid-row: 2/3;
    margin: 0px;
}

header a .basket {
    margin: 5px 0px 0px -2px;
    width: 35px;
    cursor: pointer;
}

header a .basket:hover {
    width: 40px;
    margin-left: -4px;
}

header label {
    margin: 0px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    cursor: pointer;
}

header label:hover {
    font-size: 24px;
    padding-bottom: 0px;
}

header input {
    display: none;
}

header .header-nav {
    display: none;
}

header .header-nav div {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 45px;
}

header .header-nav div div {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    background-image: url(../img/basket-white.png);
    background-size: 28px 20px;
    background-position: center;
    width: 113px;
    height: 35px;
    background-repeat: no-repeat;
}

header .header-nav div div:hover {
    background-size: 35px 25px;
    background-color: white;
    background-image: url(../img/basket.png);
}

header .header-nav div label {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 4px 4px 4px;
    font-size: 20px;
    color: white;
}

header .header-nav div label:hover {
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 2.5px 4px 0.5px 4px;
}

header .header-nav .nav-items {
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    text-align: end;
}

header .header-nav .nav-items:hover {
    font-size: 25px;
    padding: 0.5px 0px 0.5px 0px;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

header #burger-botton:checked ~ .header-nav {
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 160px;
}

article {
    padding: 75px 0px 0px 0px;
}

@media (min-width: 769px) {
    header {
        border-radius: 5px;
        position: fixed;
        left: 1px;
        right: 1px;
        display: grid;
        grid-template: 1fr 1fr 35px/ 1fr 35px;
    }

    header .logo {
        grid-area: 1/1/3/3;
    }

    header .logo img {
        height: 75px;
    }

    header .logo div h1 {
        padding: 0px 0px 3px 12px;
        font-size: 40px;
    }

    header .logo div h1:hover {
        color: black;
        text-shadow: 0px 0px 3px rgb(61, 61, 61);;
        font-size: 42px;
        padding: 0px;
    }

    header .logo div p {
        font-size: 15px;
    }

    header #bascket {
        grid-area: 1/2/2/3;
    }

    header label {
        display: none;
    }

    header .header-nav {
        grid-area: 3/1/4/3;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0px;
    }

    header .header-nav div {
        display: none;
    }

    header .header-nav .nav-items {
        color: black;
        text-align: center;
    }

    article {
        padding: 120px 0px 0px 0px;
    }

    header #burger-botton:checked ~ .header-nav {
        background-color: white;
        border-radius: 5px;
        grid-area: 3/1/4/3;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0px;
        position: static;
        width: 100%;
    }
}


@media (min-width: 981px) {
    header {
    position: fixed;
    width: 980px;
    }
}

/* ARTICLE */


article p {
    padding: 10px 20px;
}

/* header {
    position: fixed;
    width: 100%;
    max-width: 978px;
}

header .logo {
    padding-top: 5px;
    border-top: 1px solid grey;
    width: 99%;
    position: absolute;
    left: 1px;
    top: 0px;
    right: 0px;
    margin: 0px;
    background-color: white;
    z-index: 1;
}

header .header-nav {
    background-color: white;
    position: relative;
    right: 0px;
    background-color: black;
    z-index: 2;
    width: 100px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

header .header-logo .logo div h1 {
    padding: 0px 0px 3px 13px;
    text-align: center;
}

header .header-logo .logo {
    grid-column: 1;
    display: flex;
    justify-content: center;
}

header .header-logo .buttons {
    margin: 0;
    grid-column: 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

header .header-logo .buttons label {
    margin: 0px;
}

@media (min-width: 769px) {

    header .header-nav {
        border: 0px solid transparent;
        width: 99%;
        position: absolute;
        left: 1px;
        top: 81px;
        padding: 5px;
        margin: 0px;
        display: grid;
        grid-template-rows: 1fr;
        background-color: white;
    }

    header .header-nav a {
        margin: auto;
        color: black
    }

    header .header-logo .buttons label {
        display: none;
    }

    header .header-logo .logo div p {
        
    }

    header .header-logo .logo img {
        
    }
}

#burger-botton:checked ~ .header-nav {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
